/* Navigation Styling */
nav {
    margin-left: 144px;
    margin-right: 144px;
    /* outline: 1px solid green; */
}

nav ul li {
    display: inline-block;
    vertical-align: top;
    padding: 12px;
    font-size: 20px;
    color: #EDEDED;
    font-family: 'Roboto', sans-serif;;
}

nav ul {
    text-align: left;
    list-style: none;
    padding-left: 0px;
}

.folio {
    float: right;
}

/* Name Hero Styling */
.name {
    /* outline: 1px solid red; */
    margin-left: 144px;
    margin-right: 144px;
    padding: 0px;
    margin-bottom: 144px;
    margin-top: 72px;
}

#name {
    color: #EDEDED;
    margin: 0px;
    /* outline: 1px solid red; */
}

.name h1 {
    font-size: 144px;
}

#designer {
    text-align: right;
    /* border: 1px solid red; */
    line-height: auto;
}

/* Image and bio styling */
.heroIMG {
    height: auto;
    /* padding: 25px; */
    margin-left: 144px;
    margin-right: 144px;
    margin-top: 96px;
    margin-bottom: 48px;
    /* outline: 1px solid green; */
}

.content {
    width: 100%;
    /* min-height: 400px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 67%;
    grid-template-areas: 
    "bioIMG bioTopLine bioTopLine"
    "bioIMG bioSecondLine bioThirdLine";
}

.bioIMG {
    grid-area: bioIMG;
  }

  .bioTopLine {
    grid-area: bioTopLine;
  }

  .bioSecondLine {
    grid-area: bioSecondLine;
        /* outline: 1px solid red; */
    padding-right: 12px;
  }

  .bioThirdLine {
    grid-area: bioThirdLine;
    /* outline: 1px solid purple; */
    margin-left: 24px;
    padding-left: 12px;
  }

/* My work grid and layout styling */
.myWork {
    margin-left: 144px;
    margin-right: 144px;
    /* outline: 1px solid red; */
    margin-bottom: 204px;
}

.workGrid {
    margin: 0px;
    /* outline: 1px solid purple; */
    display: grid;
    min-height: 800px;
    height: 1500px;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
    "workItem1"
    "workItem2"
    "workItem3";
}

/* Worldly Content */
.workItem1 {
    margin-top: 24px;
    margin-bottom: 24px;
    display: grid;
    /* outline: 1px solid blue; */
    grid-template-columns: 34% 66%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "worldlyIMG worldlyH2"
    "worldlyIMG worldlyP";
}

.worldlyIMG {
    grid-area: worldlyIMG;
  }

.worldlyH2 {
    grid-area: worldlyH2;
    /* outline: 1px solid pink; */
    padding: 48px;
  }  

.worldlyP {
    grid-area: worldlyP;
    padding-left: 120px;
  }  

/* Stonewall */
.workItem2 {
    margin-top: 24px;
    margin-bottom: 24px;
    display: grid;
    /* outline: 1px solid red; */
    grid-template-columns: 66% 34%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "stonewallH2 stonewallIMG"
    "stonewallP stonewallIMG";
}

.stonewallIMG {
    grid-area: stonewallIMG;
    float: right;
    padding-left: 200px;
  }

.stonewallH2 {
    grid-area: stonewallH2;
    padding: 48px;
  }  

.stonewallP {
    grid-area: stonewallP;
    padding-left: 120px;
  }  

/* DHS */
.workItem3 {
    margin-top: 24px;
    margin-bottom: 24px;
    display: grid;
    /* outline: 1px solid red; */
    grid-template-columns: 34% 66%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "dhsIMG dhsH2"
    "dhsIMG dhsP";
}

.dhsIMG {
    grid-area: dhsIMG;
  }

.dhsH2 {
    grid-area: dhsH2;
    padding: 48px;
  }  

.dhsP {
    grid-area: dhsP;
    padding-left: 120px;
  }  

/* Let's connect styling */
.connect {
    /* border: 1px solid yellow; */
    margin-top: 24px;
    width: 100%;
    text-align: center;
}

/* Icons styling */
.icons {
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.icons ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.icons ul li img {
    display: inline-block;
    vertical-align: top;
    padding-left: 24px;
    padding-right: 24px;
}

/*Footer styling */
.footer {
    background-color: #091928;
    /* width: 100%; */
    /* outline: 1px solid green; */
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 48px;
}

footer ul li {
    display: inline-block;
    vertical-align: top;
    padding: 12px;
    font-size: 20px;
    color: #EDEDED;
    font-family: 'Roboto', sans-serif;
}

footer ul {
    text-align: right;
    list-style: none;
    padding-left: 0px;
}

.copyright {
    float: left;
    color: #7C91A9;
}

/* Element styling */
h2 {
    font-size: 48px;
    color: #EDEDED;
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 24px;
    color: #EDEDED;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #091928;
}

h1 {
    font-size: 48px;
    color: #7C91A9;
    font-family: 'Playfair Display', serif;
}

hr.rounded {
    border-top: 1px solid #EDEDED;
    border-radius: 3px;
    margin-left: 144px;
    margin-right: 144px;
  }

/* Media queries */
@media only screen and (max-width: 1300px) {

  .navigation {
    display: none;
  }

  .name h1 {
    font-size: 72px;
}

.bioTopLine {
  padding-top: 36px;
}

.bioThirdLine {
  /* outline: 1px solid purple; */
  margin-left: 0px;
  padding-left: 0px;
}

  .content {
    width: 100%;
    margin: 0px auto;
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 20% 20% 20%;
    grid-template-areas: 
    "bioIMG"
    "bioTopLine"
    "bioSecondLine" 
    "bioThirdLine";
}



    .workGrid {
      margin: 0px;
      display: grid;
      min-height: 800px;
      height: auto;
      grid-template-columns: 100%;
      grid-template-rows: 33% 33% 33%;
      grid-template-areas: 
      "workItem1"
      "workItem2"
      "workItem3";
  }
  
    .workItem1 {
      grid-template-rows: 34% 33% 33%;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "worldlyIMG"
      "worldlyH2"
      "worldlyP";
    }

    .workItem2 {
      grid-template-rows: 34% 33% 33%;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "stonewallIMG"
      "stonewallH2"
      "stonewallP";
    }

    .workItem3 {
      grid-template-rows: 34% 33% 33%;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "dhsIMG"
      "dhsH2"
      "dhsP";
    }

    #footer {
      margin-bottom: 48px;
    }
  
    .footer {
      display: none;
    }
  }